# .gitignore
.git
.github
docs/
logo/
manimlib/
.gitignore
LICENSE.md
MANIFEST.in
README.md
example_scenes.py
pyproject.toml
requirements.txt
setup.cfg
setup.py
node_modules/
node_manim/node_modules/
package-lock.json
coverage/
.DS_Store
*.json
!package.json
!tsconfig.json
!README.md
**/node_modules/
**/package-lock.json
**/.DS_Store
!node_manim/package.json
node_manim/node_modules
node_manim/package-lock.json
